.announcers-feed {
  margin-top:10px;
  .feed-lineup{
    border-right: 1px solid $near-black;
    padding-right: 4px;
  }
  .header {
    color: $white;
    background-color: $near-black;
    border-color: $white;
  }
}