.margin-xs {
  @include margin-xs;
}
@keyframes active-animation {
  0%   { background-color: $inactive-color; }
  50% { background-color: $alert-color; }
  100%   { background-color: $inactive-color; }
}
.jam-timer {
  margin-bottom: 15px;
  .period-clock {
    @extend .well-sm;
    @extend .well;
    @extend .clock;
    background-color: $white;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  .jam-clock {
    @extend .well-sm;
    @extend .well;
    @extend .clock;
    border: none;
    font-weight: bold;
    background-color: $light-gray;
    color: $near-black;
    margin-bottom: 0px;
    @media (min-width: $screen-tablet){
      margin-bottom: 10px;
    }
  }
  .away .bar, .away .btn {
    color: $away-team-text-color;
    background-color: $away-team-bg-color;
  }
  .home .bar, .home .btn {
    color: $home-team-text-color;
    background-color: $home-team-bg-color;
  }
  .jt-label {
    text-transform: capitalize;
    font-size: 1.15em;
    @media (min-width: $screen-md-min) {
      font-size: 1.5em;
    }
  }
  .timeout-bars {
    .bar {
      height: 35px;
      @media (min-width: $screen-md-min) {
        height: 60px;
      }
      min-width: 16px;
      border: 0.8px solid $gray;
      margin: 2px 6px;
      @media (min-width: $screen-tablet){
        margin: 4px 6px;
      }
      border-radius: 2px;
      padding: 0.5em 0;
      @media (min-width: $screen-md-min) {
        font-size: 2em;
        padding: 0.3em 0;
      }
      &.official-review {
        border-radius: 20px;
      }
      &.inactive {
        background-color: $inactive-color;
      }
      &.active{
        animation: active-animation $animation-duration infinite;
      }
    }
    :first-child {
      border-radius: 6px;
      font-weight: bold;
      height: 19px;
    }
  }
  .official-timeout {
  }
}