.jam-timer {
  margin-bottom: 15px;
  .jt-label {
    text-transform: capitalize;
    font-size: 1.15em;
    @media (min-width: $screen-md-min) {
      font-size: 1.5em;
    }
  }
  .timeout-bars {
    .bar {
      height: 35px;
      @media (min-width: $screen-md-min) {
        height: 60px;
      }
      min-width: 16px;
      border: 0.8px solid $gray;
      margin: 2px 6px;
      @media (min-width: $screen-tablet){
        margin: 4px 6px;
      }
      border-radius: 2px;
      padding: 0.5em 0;
      @media (min-width: $screen-md-min) {
        font-size: 2em;
        padding: 0.3em 0;
      }
      &.official-review {
        border-radius: 20px;
      }
      &.inactive {
        background-color: $inactive-color !important;
      }
      &.active{
        animation: active-animation $animation-duration infinite;
      }
    }
    :first-child {
      border-radius: 6px;
      font-weight: bold;
      height: 19px;
    }
  }
}