.lineup-tracker {
  .lineup-box {
    @include button-variant($gray, $white, $gray);
    &.injury {
      color: $pink;
    }
  }
  .team-lineup {
    display: flex;
    flex-direction: column-reverse;
  }
}
