.penalty-box-timer {
  .penalty-clock {
    .penalty-count {
      position: absolute;
      height: 2em;
      width: 2em;
      right: 2px;
      top: 0px;
      text-align: center;
      padding-top: 0.25em;
    }
    .clock {
      padding: 1px;
      font-size: 3.7em;
    }
  }
  .period-clock {
    background-color: $white;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  .jam-clock {
    border: none;
    font-weight: bold;
    background-color: $light-gray;
    color: $near-black;
    margin-bottom: 10px;
  }
}