.penalty-tracker, .penalty-whiteboard {
  .penalty-indicator {
    position: relative;
    white-space: nowrap;
    color: $gray;
    .dot {
      position: absolute;
      bottom: -0.4em;
      font-size: 2em;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .penalty-alert {
    @extend .penalty-indicator;
  }
  .penalty-control {
    .jam-number {
      color: $near-black;
      font-size: 0.6em;
      text-align: center;
    }
    .penalty-control-button {
      padding: 0;
      width: 100%;
      border: none;
      background: none;
    }
  }
  .edit-penalty {
    $column-offset: 100%/7.0;
    &.penalty-1 {
      @include border-arrow($column-offset * 0.5)
    }
    &.penalty-2 {
      @include border-arrow($column-offset * 1.5)
    }
    &.penalty-3 {
      @include border-arrow($column-offset * 2.5)
    }
    &.penalty-4 {
      @include border-arrow($column-offset * 3.5)
    }
    &.penalty-5 {
      @include border-arrow($column-offset * 4.5)
    }
    &.penalty-6 {
      @include border-arrow($column-offset * 5.5)
    }
    &.penalty-0 {
      @include border-arrow($column-offset * 6.5)
    }
    .jam-number-button {
      color: $gray;
      background: none;
      border: none;
      padding: 0;
      width: 100%;
    }
  }
}