.penalty-box-timer {
  .penalty-clocks {
    .penalty-count {
      position: absolute;
      height: 2em;
      width: 2em;
      background-color: $dark-gray;
      right: 2px;
      top: 0px;
      border-radius: 0 50% 0 50%;
      color: $white;
      text-align: center;
      padding-top: 0.25em;
    }
    .clock {
      @include button-variant($near-black, $white, $gray);
      border-width: 2px;
      border-radius: 20px;
      font-size: 3em;
    }
  }
  .period-clock {
    @extend .well-sm;
    @extend .well;
    @extend .clock;
    background-color: $white;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  .jam-clock {
    @extend .well-sm;
    @extend .well;
    @extend .clock;
    border: none;
    font-weight: bold;
    background-color: $light-gray;
    color: $near-black;
    margin-bottom: 10px;
  }
}