.fade-hide {
  position:absolute;
  left:2px;
  right:2px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, visibility 0.15s;
  &.in {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.15s;
  }
}
.scorekeeper {
  .stats {
    margin-top: 4px;
  }
  .current-jam, .game-total {
    color: $near-black;
    border: 1px solid $gray;
    border-radius: 2px;
    font-size: 1.1em;
    line-height: $minimum-touch-target;
    .current-jam-score, .game-total-score {
      font-size: 1.3em;
      font-weight: bolder;
    }
  }
  .jams, .passes {
    margin-top: 4px;
    .headers {
    }
    .columns {
      .jam-row, .pass-row{
        margin-top: 4px;
      }
      .col-sm-2, .col-xs-2 {
          min-height: $minimum-touch-target;
        .jam, .pass {
          background-color: $near-black;
          border-color: $near-black;
          color: $white;
        }
        .skater {
          background-color: $gray;
          border-radius: 2px;
          color: $near-black;
          line-height: $minimum-touch-target;
          padding-left: 5%;
        }
        .notes {
          background-color: $gray;
          border-radius: 2px;
          color: $near-black;
          min-height: $minimum-touch-target;
          &.injury {
          }
          &.call {
          }
          &.lost {
          }
          &.selected {
            background-color: $near-black;
            border-color: $near-black;
            color: $gray;
          }
        }
        .points {
          background-color: $gray;
          border-radius: 2px;
          color: $near-black;
          line-height: $minimum-touch-target;
        }
      }
      .drag-handle {
        text-align:center;
        line-height: $minimum-touch-target;
        cursor: move;
      }
    }
    .actions {
      margin-top: 4px;
      .action {
        background-color: $near-black;
        border-color: $near-black;
        color: $white;
        text-transform: uppercase;
      }
    }

    // because collapse requires a .panel to work with data-parent,
    // https://github.com/twbs/bootstrap/blob/a577f1922ee7054a97b455ccfaa16857cb2b79fc/js/collapse.js#L49,
    // but we don't want the .panel styles.
    .panel {
      border: 0;
      margin-bottom: 0;
    }
  }
  .jam-details {
    color: $near-black;
    font-size: 1.2em;
    margin-top: 4px;
    & > .row > div:first-child {
      padding-left: 0px;
      padding-right: 0px;
    }
    & > .row > div:last-child {
      padding-left: 0px;
    }
    .jam-number, .jam-total-score {
      background-color: $gray;
      line-height: $minimum-touch-target;
    }
    .jam-number {
      padding-left: 5%;
    }
    .jam-total-score {
      padding-right: 5%;
    }
  }
  .links {
    margin-top: 4px;
    .link {
      background-color: $near-black;
      color: $white;
      text-transform: uppercase;
    }
  }
  .edit-pass {
    @include border-arrow(95%);
    .row {
      margin-top: 4px;
      &:first-child {
        margin-top: 0px;
      }
    }
  }
  .edit-pass-number {
    @include border-arrow(5%);
    .row {
      .minus, .plus {
        background-color: $white;
        color: $near-black;
      }
    }
  }
  .edit-pass, .edit-pass-number {
    .row {
      & > div > div {
        border-radius: 2px;
        line-height: $minimum-touch-target;
      }
      .notes {
        background-color: $gray;
        color: $near-black;
        &.selected{
          background-color: $near-black;
          color: $gray;
        }
      }
      .scores {
        background-color: $white;
        color: $near-black;
        &.selected {
          background-color: $near-black;
          color: $gray;
        }
      }
      .remove, .ok {
        background-color: $near-black;
        color: $white;
      }
    }
  }
}
