@import "colors";
@import "base/variables";
@import "bootstrap";
@import "/bower_components/jquery-minicolors/jquery.minicolors.css";
@import "mixins/border-arrow";
@import "mixins/vertical-align";
@import "mixins/gutters";
@import "mixins/margins";
@import "mixins/boxes";
@import "header";
@import "jam-timer";
@import "lineup-tracker";
@import "penalty-tracker";
@import "scoreboard";
@import "scorekeeper";
@import "penalty-box-timer";
@import "game-setup";
@import "item-row";
@import "skater-selector";
@import "period-summary";
//Some additional resets
*:focus {
  outline: 0 !important;
}
//Hide test DOM
#UUT {
  display: none;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0;
}
.btn-selected {
  @include button-variant($btn-selected-color, $btn-selected-bg, $btn-selected-border);
}
.bt-btn {
  @extend .btn;
  @extend .btn-block;
  @extend .btn-default;
  padding: 9px 2px;
  font-weight: bold;
}
.bt-box {
  @include box-variant($near-black, $white, $gray);
  padding: 9px 2px;
  font-weight: bold;
  &.box-default {
    @include box-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  }
  &.box-primary {
    @include box-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }
  &.box-warning {
    @include box-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }
  &.box-danger {
    @include box-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }
  &.box-selected {
    @include box-variant($btn-selected-color, $btn-selected-bg, $btn-selected-border);
  }
  &.box-lg {
    padding: 0;
    font-size: 2.6em;
    @media (min-width: $screen-sm-min) {
      font-size: 2.8em;
    }
    @media (min-width: $screen-md-min) {
      font-size: 4.8em;
    }
  }
}
.top-buffer {
  margin-top: 4px;
}
.game{
  .gamename {
    margin-left: 1em;
  }
  .good-status, .bad-status {
    font-size: 2em;
    position: relative;
    top: 8px;
    left: 10px;
  }
  .good-status {
    color: green;
  }
  .bad-status {
    color: red;
  }
  &.connected {
    .good-status {
      display: inline-block;
    }
    .bad-status {
      display: none;
    }
  }
  .good-status {
    display: none;
  }
  .bad-status {
    display: inline-block;
  }
  .login, .jam-timer, .lineup-tracker, .scorekeeper, .penalty-tracker, .penalty-box-timer, .scoreboard, .penalty-whiteboard, .announcers-feed, .game-setup {
    display: none;
  }
  .navbar {
    margin-bottom: 0px;
  }
  &[data-tab="jam_timer"] .jam-timer {
    display: block;
  }
  &[data-tab="lineup_tracker"] .lineup-tracker {
    display: block;
  }
  &[data-tab="scorekeeper"] .scorekeeper {
    display: block;
  }
  &[data-tab="penalty_tracker"] .penalty-tracker {
    display: block;
  }
  &[data-tab="penalty_box_timer"] .penalty-box-timer {
    display: block;
  }
  &[data-tab="scoreboard"] .scoreboard {
    display: block;
    @media (max-width: -1px + $screen-tablet){
      display: flex;
    }
  }
  &[data-tab="penalty_whiteboard"] .penalty-whiteboard {
    display: block;
  }
  &[data-tab="announcers_feed"] .announcers-feed {
    display: block;
  }
  &[data-tab="game_setup"] .game-setup {
    display: block;
  }
  &[data-tab="login"] .login {
    display: block;
  }
}
.col-xs-5-cols {
  $width: 100%/5.0;
  float:left;
  width: $width;
}
.col-xs-7-cols {
  $width: 100%/7.0;
  float:left;
  width: $width;
}
.fancy-btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1em;
}
.fancy-select {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  font-size: 1.4em;
  margin-top: 0;
  width: 50%;
}
.row.gutters-xs {
  @include gutters-xs;
}
.modal {
  -webkit-overflow-scrolling: auto;
}
.fade-hide {
  position:absolute;
  left:2px;
  right:2px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, visibility 0.15s;
  &.in {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.15s;
  }
}
.clickable {
  cursor: pointer;
}
.margin-xs {
  @include margin-xs;
}
@keyframes active-animation {
  0%   { background-color: $inactive-color; }
  50% { background-color: $alert-color; }
  100%   { background-color: $inactive-color; }
}

