@mixin border-arrow($left) {
  background-color: $muted-gray;
  padding: 14px;
  margin-top: 18px;
  position: relative;
  &:after, &:before {
    bottom: 100%;
    left: $left;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: $muted-gray;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: $muted-gray;
    border-width: 16px;
    margin-left: -16px;
  }
}
