// This file will contain modification to bootstrap variables for changes relevant to Bouttime UI
// For documentation on bootstrap variables see: http://getbootstrap.com/customize/
// Global Changes
@media only screen and (max-width: 768px) {
  $border-radius-base: 0px;
  $border-radius-large: 4px;
  $border-radius-small: 2px;
  $padding-base-vertical: 5px;
  $padding-base-horizontal: 1px;
}
// This will prevent navbar getting collapsed for extra small screen sizes:
$grid-float-breakpoint: 320px;

// Typography
$font-size-base: 14px;

// Panels
$panel-body-padding: 5px;

// Design variables
$minimum-touch-target: 40px;
$animation-duration: 2s;

//Bootstrap overrides
$grid-gutter-width : 16px;
$padding-base-horizontal: 8px !default;