// This file will contain modification to bootstrap variables for changes relevant to Bouttime UI
// For documentation on bootstrap variables see: http://getbootstrap.com/customize/

// Global Changes
$border-radius-base: 2px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$padding-base-vertical: 5px;
$padding-base-horizontal: 1px;

// Typography
$font-size-base: 12px;

// Panels
$panel-body-padding: 5px;
