= react_component('Scorekeeper')

/ #scorekeeper-view
/   / teams
/   .row.teams.text-center.gutters-xs
/     / away
/     .col-sm-6.col-xs-6
/       .team-name.away
/         | Atlanta Rollergirls
/     .col-sm-6.col-xs-6
/       .team-name.home
/         | Gotham Rollergirls
/
/   .active-team
/     .row.gutters-xs
/       .col-sm-6.col-xs-6
/         .away
/       .col-sm-6.col-xs-6
/         .home.hidden-xs
/
/   .row.gutters-xs
/     #away-team.col-sm-6.col-xs-12
/       / stats
/       .row.stats.gutters-xs
/         / current jam
/         .col-sm-6.col-xs-6
/           .stat.current-jam
/             .row.gutters-xs
/               .col-sm-8.col-xs-8.col-sm-offset-1.col-xs-offset-1
/                 strong
/                   | Current Jam
/               .col-sm-2.col-xs-2.text-right.current-jam-score
/                 strong
/                   | 0
/         / game total
/         .col-sm-6.col-xs-6
/           .stat.game-total
/             .row.gutters-xs
/               .col-sm-8.col-xs-8.col-sm-offset-1.col-xs-offset-1
/                 strong
/                   | Game Total
/               .col-sm-2.col-xs-2.text-right.game-total-score
/                 strong
/                   | 0
/
/       / jams
/       .jams
/         .headers
/           .row.gutters-xs
/             .col-sm-2.col-xs-2
/               strong
/                 | Jam
/             .col-sm-2.col-xs-2
/               strong
/                 | Skater
/             .col-sm-2.col-xs-2.col-sm-offset-2.col-xs-offset-2.text-center
/               strong
/                 | Notes
/             .col-sm-2.col-xs-2.col-sm-offset-2.col-xs-offset-2.text-center
/               strong
/                 | Points
/         .columns
/           .row.gutters-xs
/             .col-sm-2.col-xs-2
/               .jam.text-center
/                 | 1
/             .col-sm-2.col-xs-2
/               .skater
/                 | 4567
/             .col-sm-2.col-xs-2
/               .notes.injury.text-center
/                 | Injury
/             .col-sm-2.col-xs-2
/               .notes.call.text-center
/                 | Call
/             .col-sm-2.col-xs-2
/               .notes.lost.text-center
/                 | Lost
/             .col-sm-2.col-xs-2
/               .points.text-center
/                 | 10
/
/       / links
/       .links
/         .row.text-center.gutters-xs
/           .col-sm-6.col-xs-6
/             .link.main-menu
/               | MAIN MENU
/           .col-sm-6.col-xs-6
/             .row.gutters-xs
/               .col-sm-5.col-xs-5.col-sm-offset-1.col-xs-offset-1
/                 .link.prev
/                   | PREV
/               .col-sm-6.col-xs-6
/                 .link.next
/                   | NEXT
/
/       .jam-details
/         .row.gutters-xs
/           .col-sm-3.col-xs-3.col-sm-offset-6.col-xs-offset-6
/             .jam-number
/               strong
/                 | Jam 5
/           .col-sm-3.col-xs-3.text-right
/             .jam-total-score
/               strong
/                 | 0
/
/       / passes
/       .passes
/         .headers
/           .row.gutters-xs
/             .col-sm-2.col-xs-2
/               | Pass
/             .col-sm-2.col-xs-2
/               | Skater
/             .col-sm-2.col-xs-2
/             .col-sm-2.col-xs-2.text-center
/               | Notes
/             .col-sm-2.col-xs-2
/             .col-sm-2.col-xs-2.text-center
/               | Points
/
/         #away-team-pass-1 aria-multiselectable="true"
/           .columns
/             .row.gutters-xs
/               .col-sm-2.col-xs-2
/                 .pass.text-center aria-controls="#away-team-edit-pass-number-1" aria-expanded="false" data-parent="#away-team-pass-1" data-toggle="collapse" href="#away-team-edit-pass-number-1"
/                   | 1
/               .col-sm-2.col-xs-2
/                 .skater
/                   | 1234
/               .col-sm-2.col-xs-2
/                 .notes.injury.text-center
/                   | Injury
/               .col-sm-2.col-xs-2
/                 .notes.call.text-center
/                   | Call
/               .col-sm-2.col-xs-2
/                 .notes.lost.text-center
/                   | Lost
/               .col-sm-2.col-xs-2
/                 .points.text-center aria-controls="#away-team-edit-pass-1" aria-expanded="false" data-parent="#away-team-pass-1" data-toggle="collapse" href="#away-team-edit-pass-1"
/                   | 10
/
/           / edit pass number
/           .panel
/             #away-team-edit-pass-number-1.edit-pass-number.collapse
/               .row.gutters-xs
/                 .col-sm-1.col-xs-1
/                   .remove.text-center
/                     span.glyphicon.glyphicon-remove aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .minus.text-center
/                     span.glyphicon.glyphicon-minus aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .plus.text-center
/                     span.glyphicon.glyphicon-plus aria-hidden="true"
/                 .col-sm-1.col-xs-1
/                   .ok.text-center
/                     span.glyphicon.glyphicon-ok aria-hidden="true"
/
/           / first pass edit
/           .panel
/             #away-team-edit-pass-1.edit-pass.first-pass.collapse
/               .row.gutters-xs
/                 .col-sm-2.col-xs-2.col-sm-offset-1.col-xs-offset-1
/                   .remove.text-center
/                     span.glyphicon.glyphicon-remove aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .notes.injury.text-center
/                     | Injury
/                 .col-sm-2.col-xs-2
/                   .notes.note-lead.text-center
/                     | Lead
/                 .col-sm-2.col-xs-2
/                   .notes.call.text-center
/                     | Call
/                 .col-sm-2.col-xs-2
/                   .ok.text-center
/                     span.glyphicon.glyphicon-ok aria-hidden="true"
/               .row.gutters-xs
/                 .col-sm-2.col-xs-2.col-sm-offset-3.col-xs-offset-3
/                   .zero.text-center
/                     | 0
/                 .col-sm-2.col-xs-2
/                   .one.text-center
/                     | 1
/                 .col-sm-2.col-xs-2
/                   .notes.no-pass.text-center
/                     | No P.
/
/         #away-team-pass-2 aria-multiselectable="true"
/           .columns
/             .row.gutters-xs
/               .col-sm-2.col-xs-2
/                 .pass.text-center aria-controls="#away-team-edit-pass-number-2" aria-expanded="false" data-parent="#away-team-pass-2" data-toggle="collapse" href="#away-team-edit-pass-number-2"
/                   | 1
/               .col-sm-2.col-xs-2
/                 .skater
/                   | 1234
/               .col-sm-2.col-xs-2
/                 .notes.injury.text-center
/                   | Injury
/               .col-sm-2.col-xs-2
/                 .notes.call.text-center
/                   | Call
/               .col-sm-2.col-xs-2
/                 .notes.lost.text-center
/                   | Lost
/               .col-sm-2.col-xs-2
/                 .points.text-center aria-controls="#away-team-edit-pass-2" aria-expanded="false" data-parent="#away-team-pass-2" data-toggle="collapse" href="#away-team-edit-pass-2"
/                   | 5
/
/           / edit pass number
/           .panel
/             #away-team-edit-pass-number-2.edit-pass-number.collapse
/               .row.gutters-xs
/                 .col-sm-1.col-xs-1
/                   .remove.text-center
/                     span.glyphicon.glyphicon-remove aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .minus.text-center
/                     span.glyphicon.glyphicon-minus aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .plus.text-center
/                     span.glyphicon.glyphicon-plus aria-hidden="true"
/                 .col-sm-1.col-xs-1
/                   .ok.text-center
/                     span.glyphicon.glyphicon-ok aria-hidden="true"
/
/           / second pass edit
/           .panel
/             #away-team-edit-pass-2.edit-pass.second-pass.collapse
/               .row.gutters-xs
/                 .col-sm-2.col-xs-2.col-sm-offset-1.col-xs-offset-1
/                   .remove.text-center
/                     span.glyphicon.glyphicon-remove aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .notes.injury.text-center
/                     | Injury
/                 .col-sm-2.col-xs-2
/                   / must use .note-lead beacause .lead is used otherwise
/                   .notes.note-lead.text-center
/                     | Lead
/                 .col-sm-2.col-xs-2
/                   .notes.call.text-center
/                     | Call
/                 .col-sm-2.col-xs-2
/                   .ok.text-center
/                     span.glyphicon.glyphicon-ok aria-hidden="true"
/
/               .row.gutters-xs
/                 .col-sm-1.col-xs-1.col-sm-offset-2.col-xs-offset-2
/                   .zero.text-center
/                     | 0
/                 .col-sm-1.col-xs-1
/                   .one.text-center
/                     | 1
/                 .col-sm-1.col-xs-1
/                   .two.text-center
/                     | 2
/                 .col-sm-1.col-xs-1
/                   .three.text-center
/                     | 3
/                 .col-sm-1.col-xs-1
/                   .four.text-center
/                     | 4
/                 .col-sm-1.col-xs-1
/                   .five.text-center
/                     | 5
/                 .col-sm-1.col-xs-1
/                   .six.text-center
/                     | 6
/
/     #home-team.col-sm-6.col-xs-12.hidden-xs
/       / stats
/       .row.stats.gutters-xs
/         / current jam
/         .col-sm-6.col-xs-6
/           .stat.current-jam
/             .row.gutters-xs
/               .col-sm-8.col-xs-8.col-sm-offset-1.col-xs-offset-1
/                 strong
/                   | Current Jam
/               .col-sm-2.col-xs-2.text-right.current-jam-score
/                 strong
/                   | 0
/         / game total
/         .col-sm-6.col-xs-6
/           .stat.game-total
/             .row.gutters-xs
/               .col-sm-8.col-xs-8.col-sm-offset-1.col-xs-offset-1
/                 strong
/                   | Game Total
/               .col-sm-2.col-xs-2.text-right.game-total-score
/                 strong
/                   | 0
/
/       / jams
/       .jams
/         .headers
/           .row.gutters-xs
/             .col-sm-2.col-xs-2
/               strong
/                 | Jam
/             .col-sm-2.col-xs-2
/               strong
/                 | Skater
/             .col-sm-2.col-xs-2.col-sm-offset-2.col-xs-offset-2.text-center
/               strong
/                 | Notes
/             .col-sm-2.col-xs-2.col-sm-offset-2.col-xs-offset-2.text-center
/               strong
/                 | Points
/         .columns
/           .row.gutters-xs
/             .col-sm-2.col-xs-2
/               .jam.text-center
/                 | 1
/             .col-sm-2.col-xs-2
/               .skater
/                 | 1234
/             .col-sm-2.col-xs-2
/               .notes.injury.text-center
/                 | Injury
/             .col-sm-2.col-xs-2
/               .notes.call.text-center
/                 | Call
/             .col-sm-2.col-xs-2
/               .notes.lost.text-center
/                 | Lost
/             .col-sm-2.col-xs-2
/               .points.text-center
/                 | 10
/
/       / links
/       .links
/         .row.text-center.gutters-xs
/           .col-sm-6.col-xs-6
/             .link.main-menu
/               | MAIN MENU
/           .col-sm-6.col-xs-6
/             .row.gutters-xs
/               .col-sm-5.col-xs-5.col-sm-offset-1.col-xs-offset-1
/                 .link.prev
/                   | PREV
/               .col-sm-6.col-xs-6
/                 .link.next
/                   | NEXT
/
/       .jam-details
/         .row.gutters-xs
/           .col-sm-3.col-xs-3.col-sm-offset-6.col-xs-offset-6
/             .jam-number
/               strong
/                 | Jam 5
/           .col-sm-3.col-xs-3.text-right
/             .jam-total-score
/               strong
/                 | 0
/
/       / passes
/       .passes
/         .headers
/           .row.gutters-xs
/             .col-sm-2.col-xs-2
/               | Pass
/             .col-sm-2.col-xs-2
/               | Skater
/             .col-sm-2.col-xs-2
/             .col-sm-2.col-xs-2.text-center
/               | Notes
/             .col-sm-2.col-xs-2
/             .col-sm-2.col-xs-2.text-center
/               | Points
/
/         #home-team-pass-1 aria-multiselectable="true"
/           .columns
/             .row.gutters-xs
/               .col-sm-2.col-xs-2
/                 .pass.text-center aria-controls="#home-team-edit-pass-number-1" aria-expanded="false" data-parent="#home-team-pass-1" data-toggle="collapse" href="#home-team-edit-pass-number-1"
/                   | 1
/               .col-sm-2.col-xs-2
/                 .skater
/                   | 1234
/               .col-sm-2.col-xs-2
/                 .notes.injury.text-center
/                   | Injury
/               .col-sm-2.col-xs-2
/                 .notes.call.text-center
/                   | Call
/               .col-sm-2.col-xs-2
/                 .notes.lost.text-center
/                   | Lost
/               .col-sm-2.col-xs-2
/                 .points.text-center aria-controls="#home-team-edit-pass-1" aria-expanded="false" data-parent="#home-team-pass-1" data-toggle="collapse" href="#home-team-edit-pass-1"
/                   | 10
/
/           / edit pass number
/           .panel
/             #home-team-edit-pass-number-1.edit-pass-number.collapse
/               .row.gutters-xs
/                 .col-sm-1.col-xs-1
/                   .remove.text-center
/                     span.glyphicon.glyphicon-remove aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .minus.text-center
/                     span.glyphicon.glyphicon-minus aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .plus.text-center
/                     span.glyphicon.glyphicon-plus aria-hidden="true"
/                 .col-sm-1.col-xs-1
/                   .ok.text-center
/                     span.glyphicon.glyphicon-ok aria-hidden="true"
/
/           / first pass edit
/           .panel
/             #home-team-edit-pass-1.edit-pass.first-pass.collapse
/               .row.gutters-xs
/                 .col-sm-2.col-xs-2.col-sm-offset-1.col-xs-offset-1
/                   .remove.text-center
/                     span.glyphicon.glyphicon-remove aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .notes.injury.text-center
/                     | Injury
/                 .col-sm-2.col-xs-2
/                   .notes.note-lead.text-center
/                     | Lead
/                 .col-sm-2.col-xs-2
/                   .notes.call.text-center
/                     | Call
/                 .col-sm-2.col-xs-2
/                   .ok.text-center
/                     span.glyphicon.glyphicon-ok aria-hidden="true"
/               .row.gutters-xs
/                 .col-sm-2.col-xs-2.col-sm-offset-3.col-xs-offset-3
/                   .zero.text-center
/                     | 0
/                 .col-sm-2.col-xs-2
/                   .one.text-center
/                     | 1
/                 .col-sm-2.col-xs-2
/                   .notes.no-pass.text-center
/                     | No P.
/
/         #home-team-pass-2 aria-multiselectable="true"
/           .columns
/             .row.gutters-xs
/               .col-sm-2.col-xs-2
/                 .pass.text-center aria-controls="#home-team-edit-pass-number-2" aria-expanded="false" data-parent="#home-team-pass-2" data-toggle="collapse" href="#home-team-edit-pass-number-2"
/                   | 1
/               .col-sm-2.col-xs-2
/                 .skater
/                   | 1234
/               .col-sm-2.col-xs-2
/                 .notes.injury.text-center
/                   | Injury
/               .col-sm-2.col-xs-2
/                 .notes.call.text-center
/                   | Call
/               .col-sm-2.col-xs-2
/                 .notes.lost.text-center
/                   | Lost
/               .col-sm-2.col-xs-2
/                 .points.text-center aria-controls="#home-team-edit-pass-2" aria-expanded="false" data-parent="#home-team-pass-2" data-toggle="collapse" href="#home-team-edit-pass-2"
/                   | 5
/
/           / edit pass number
/           .panel
/             #home-team-edit-pass-number-2.edit-pass-number.collapse
/               .row.gutters-xs
/                 .col-sm-1.col-xs-1
/                   .remove.text-center
/                     span.glyphicon.glyphicon-remove aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .minus.text-center
/                     span.glyphicon.glyphicon-minus aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .plus.text-center
/                     span.glyphicon.glyphicon-plus aria-hidden="true"
/                 .col-sm-1.col-xs-1
/                   .ok.text-center
/                     span.glyphicon.glyphicon-ok aria-hidden="true"
/
/           / second pass edit
/           .panel
/             #home-team-edit-pass-2.edit-pass.second-pass.collapse
/               .row.gutters-xs
/                 .col-sm-2.col-xs-2.col-sm-offset-1.col-xs-offset-1
/                   .remove.text-center
/                     span.glyphicon.glyphicon-remove aria-hidden="true"
/                 .col-sm-2.col-xs-2
/                   .notes.injury.text-center
/                     | Injury
/                 .col-sm-2.col-xs-2
/                   / must use .note-lead beacause .lead is used otherwise
/                   .notes.note-lead.text-center
/                     | Lead
/                 .col-sm-2.col-xs-2
/                   .notes.call.text-center
/                     | Call
/                 .col-sm-2.col-xs-2
/                   .ok.text-center
/                     span.glyphicon.glyphicon-ok aria-hidden="true"
/
/               .row.gutters-xs
/                 .col-sm-1.col-xs-1.col-sm-offset-2.col-xs-offset-2
/                   .zero.text-center
/                     | 0
/                 .col-sm-1.col-xs-1
/                   .one.text-center
/                     | 1
/                 .col-sm-1.col-xs-1
/                   .two.text-center
/                     | 2
/                 .col-sm-1.col-xs-1
/                   .three.text-center
/                     | 3
/                 .col-sm-1.col-xs-1
/                   .four.text-center
/                     | 4
/                 .col-sm-1.col-xs-1
/                   .five.text-center
/                     | 5
/                 .col-sm-1.col-xs-1
/                   .six.text-center
/                     | 6
