@import "colors";

//Bootstrap overrides
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$gray-base: $near-black;

@import "base/variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "mixins/border-arrow";

@import "jam-timer";
@import "scoreboard";
@import "scorekeeper";

//Hide test DOM
#UUT {
  display: none;
}
