.spacer-xs {
  margin-top: 2px;
  margin-bottom: 2px;
}
.penalty-box-timer {
  .penalty-clocks {
    .skater-wrapper {
      @include make-row;
      @include make-xs-column(6);
      @include gutters-xs;
    }
    .penalty-clock {
      @include make-row;
      @include margin-xs;
      @include gutters-xs;
    }
    .clock {
      border: 2px solid $gray;
      border-radius: 20px;
      font-size: 4em;
    }
    .served-button, .left-early-button {
      @include bt-button;
      @include make-xs-column(6);
    }
    .skater-data, .skater-dropdown {
      @include make-row;
      @include margin-xs;
      padding: 0 2px;
    }
  }
  .period-clock {
    @extend .well-sm;
    @extend .well;
    @extend .clock;
    background-color: $white;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  .jam-clock {
    @extend .well-sm;
    @extend .well;
    @extend .clock;
    border: none;
    font-weight: bold;
    background-color: $light-gray;
    color: $near-black;
    margin-bottom: 10px;
  }
  .edit-btn {
    >.glyphicon{
      padding-left: 1em;
    }
  }
  .jt-label {
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  .select-skater-button {
    .glyphicon {
      @include vertical-align;
      position: absolute;
      top: 25%;
      right: 0.5em;
    }
  }
}