.spacer-xs {
  margin-top: 2px;
  margin-bottom: 2px;
}
.penalty-box-timer {
  .period-clock {
    @extend .well-sm;
    @extend .well;
    @extend .clock;
    background-color: $white;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  .jam-clock {
    @extend .well-sm;
    @extend .well;
    @extend .clock;
    border: none;
    font-weight: bold;
    background-color: $light-gray;
    color: $near-black;
    margin-bottom: 10px;
  }
  .btn {
    border-radius: 2px;
    font-size: 1.1em;
    line-height: 30px;
    padding: 0;
    background-color: $light-gray;
    color: $near-black;
  }
  .edit-btn {
    >.glyphicon{
      padding-left: 1em;
    }
  }
  .jt-label {
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  .select-skater-button {
    .glyphicon {
      @include vertical-align;
      position: absolute;
      right: 0.5em;
    }
  }
}