<!DOCTYPE html>
<html>
<head>
  <title>WFTDA Boutime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render "layouts/meta_tags" %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
