<!DOCTYPE html>
<html>
<head>
  <title>WFTDA Boutime Tests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
  <title>QUnit Tests</title>
  <link rel="stylesheet" href="/assets/qunit-1.15.0.css">
  <script src="/assets/qunit-1.15.0.js"></script>
  <script src="/assets/tests/scoreboard_tests.js"></script>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
